@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply m-0 p-0;
}

label {
    @apply uppercase font-bold text-xs;
}

input[type=text], input[type=email], input[type=tel], textarea {
    @apply border-sky-700 border-b p-2 text-black outline-none appearance-none resize-none;
}

.service-box {
    @apply bg-white p-3 rounded-full drop-shadow-lg text-xs font-bold uppercase flex flex-col items-center justify-center text-center text-sky-700;
}

.service-marker {
    @apply w-32 h-32 flex flex-col items-center justify-center text-sky-700 border border-gray-300 rounded-xl uppercase text-xs font-extrabold;
}

.btn {
    @apply text-white p-2 rounded-lg uppercase font-bold text-xs;
}

input.input-error, textarea.input-error {
    @apply bg-red-400 text-white placeholder-white;
}

.btn:disabled {
    @apply opacity-30;
}

.swiper-wrapper {
    @apply flex flex-row items-center;
}

.tm-slide {
    @apply text-center px-12 lg:px-16;
}

.swiper-testimonial .swiper-pagination {
    bottom:-10px!important;
}

#fixed-menu * {
    @apply transition-all;
}

.anchor {
    @apply relative -top-[73px] md:-top-[114px] h-2 invisible block;
}

[x-cloak] { display: none !important; }